/* Change colours of the tick and cross on property details pages */ 
.fa-check {
    color: green;
}

.fa-xmark { 
    color: red;
}

/* Displaying properties on the properties list page */
.custom-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    overflow: hidden; /* Ensure content does not overflow the card */
}

.image-container {
    position: relative;
    width: 100%;
    padding-top: 75%; /* 4:3 Aspect Ratio */
    overflow: hidden;
}

.custom-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* Ensure content does not overflow the card body */
    padding: 1rem; /* Add padding to the card body */
    flex-grow: 1; /* Ensure the card body grows to fill the remaining space */
}

.card-title {
    word-wrap: break-word; /* Ensure long words break to the next line */
    overflow: hidden; /* Ensure content does not overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}

.card-text {
    word-wrap: break-word; /* Ensure long words break to the next line */
    overflow: hidden; /* Ensure content does not overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (max-width: 767.98px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}