{% extends "base.html" %}


{% block head %}
<link rel="stylesheet" type="text/css" href="/static/property/css/property.css">
{% endblock head %}


{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid" id="properties-list">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="grid-container">
                {% for property in property_list %}
                    {% if request.user.is_authenticated  %} 
                        {% if property.status == 0 %}
                            <!-- Property is owned by current user and is not active-->
                            <div class="card mb-4 text-center custom-card">
                                <div class="image-container">
                                    <div class="image-flash">
                                        <img class="img-fluid custom-image" src="{{ property.images.first.image.url }}"
                                            alt="{{ property.images.first.image.title }}">
                                    </div>
                                </div>
                                <div class="card-body d-flex flex-column">
                                    <p class="card-title text-secondary">{{ property.title }}</p>
                                    <p class="card-text">£{{ property.rent }}</p>
                                    <p class="card-text text-danger">Waiting to be Authorised!</p>
                                    <a href="{% url 'property_detail' property.slug %}" class="btn btn-primary post-link">
                                        <p class="card-text">View Property</p>
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            <!-- Property is not owned by current user and is active -->
                            <div class="card mb-4 text-center custom-card">
                                <div class="image-container">
                                    <div class="image-flash">
                                        <img class="img-fluid custom-image" src="{{ property.images.first.image.url }}"
                                            alt="{{ property.images.first.image.title }}">
                                    </div>
                                </div>
                                <div class="card-body d-flex flex-column">
                                    <p class="card-title">{{ property.title }}</p>
                                    <p class="card-text">£{{ property.rent }}</p>
                                    <a href="{% url 'property_detail' property.slug %}" class="btn btn-primary post-link">
                                        <p class="card-text">View Property</p>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <!-- User is not authenticated -->
                        <div class="card mb-4 text-center custom-card">
                            <div class="image-container">
                                <div class="image-flash">
                                    <img class="img-fluid custom-image" src="{{ property.images.first.image.url }}"
                                        alt="{{ property.images.first.image.title }}">
                                </div>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <p class="card-title">{{ property.title }}</p>
                                <p class="card-text">£{{ property.rent }}</p>
                                <a href="{% url 'property_detail' property.slug %}" class="btn btn-primary post-link">
                                    <p class="card-text">View Property</p>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- index.html content ends here -->

{% endblock content %}