:root {
    --menu-bar-background: rgb(37, 99, 235);
    --menu-bar-color: white;
    --footer-bg-color: rgb(31, 41, 55);
    --footer-text-color: white;
}

* { 
    user-drag: none;
}

.h-100 {
    max-height: 330px;
}

.w-100 {
    max-width: 535px;
}

.image-flash>img {
    object-fit: cover;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif, Arial;
}

nav {
    background-color: var(--menu-bar-background);
    color: var(--menu-bar-color);
}

.navbar-brand {
    font-family: "Source Sans 3", sans-serif, Arial;
    font-size: 1.6rem;
    font-weight: 600;
}

.navbar-light .navbar-brand {
    color: var(--menu-bar-color);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--menu-bar-color);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--menu-bar-color);
}

.navbar-light .navbar-text {
    color: var(--menu-bar-color);
}

#house-logo {
    font-size: 1.4rem;
}

.fa-solid,
.fa-check {
    font-size: large;
}

.fa-solid,
.fa-cross {
    font-size: large;
}

#id_password_helptext {
    display: none;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    flex-shrink: 0;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
}